api_endpoint            = ""
environment             = ""
bastion_keyname         = ""
bastion_keyfile         = ""
bastion_ami             = ""
bastion_user            = ""
eksd_ami                = ""
masters_keyname         = ""
masters_keyfile         = ""
workers_keyname         = ""
workers_keyfile         = ""

ebs_csi_volume_type     = "gp2"
install_ebs_csi         = true
install_lb_controller   = true
install_autoscaler      = true
install_kasten_k10      = true
